body
{
  overflow-x: hidden;
}
*{
  margin:0;
  padding:0;
  text-decoration: none;
}
.container{
  display: flex;
  min-width: 100%;
}
.main-content
{
  display: inline-block;
  width: 100%;
  padding-left: 20px;
}
.top-section{
  display: flex;
  align-items:center;
  padding:20px 15px;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-top: 10px;
  margin-left: 150px;
}
.link{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  background:lightskyblue;
  color: #000;
  transition: all 0.5s;
}
.active{
  background: lightskyblue;
  color: #000;
}
.icon, .link-text{
  font-size: 20px;
}
#root
{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}