.billboard-surface-block
{
    background: #96C9D3;
    display: inline-block;
    width: 98%;
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px 30px 20px;
    margin: 10px 0;
}

.billboard-surface-data
{
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}