*
{
    margin: 0;
    padding: 0;
}

.control-panel-block
{
    background: #52AABC;
    border: 1px solid #52AABC;
    border-top-left-radius: 16px;
    padding: 20px 25px;
}

.control-panel-search
{
    border: none;
    border-radius: 8px;
    width: 50%;
    height: 35px;
    display: inline-block;
    margin: 0;
    outline: none;
}

.open-panel-create-new-item-button
{
    background: white;
    border: none;
    border-radius: 8px;
    width: 200px;
    height: 35px;
    display: inline-block;
    float: right;
    margin: 0;
}

