*
{
    margin: 0;
    padding: 0;
}

.discount-item-block
{
    background: #96C9D3;
    display: inline-block;
    width: 98%;
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px 30px 20px;
    margin: 10px 0;
}

.discount-item-block-name
{
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.discount-item-block-general-information
{
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.hide-billboards-list-button
{
    border: none;
    background: none;
    rotate: 90deg;
    float: right;
    line-height: 30px;
    outline: none;
}

.tariffs-list-content .tariff-block
{
    margin: 10px 15px;
}