*
{
    margin: 0;
    padding: 0;
}

.manager-information-block
{
    background: #52AABC;
    display: flex;
    width: 98%;
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px 30px;
    margin: 10px 0;
    align-items: center;
}

.manager-inactive-status
{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: red;
    display: inline-block;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

.manager-active-status
{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: green;
    display: inline-block;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

.manager-information
{
    display: inline-block;
    flex-grow: 300;
    margin: 0 0 0 15px;
}

.manager-information-span
{
    font-size: 20px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    line-height: 24px;
}

.control-buttons
{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
}

.control-button
{
    background: #F8BC43;
    border: none;
    border-radius: 8px;
    width: 200px;
    height: 45px;
    float: right;
    margin: 0 5px;
}