.order-data-block {
    width: 80%;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px 5px;
    margin-top: -5%;
    margin-left: calc(50vw - 40%);
    background: white;
    z-index: 3;
}

.tariff-block-selected {
    border: 1px solid black;
    border-radius: 8px;
    background: white;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    margin: 0 15px 0 0;
    padding: 0;
    height: 145px;
}

.tariff-block-selected .tariff-price {
    background: #52AABC;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 7px 0;
}

.order-data-block .pictures-container
{
    margin: 10px 0;
}

.order-data-tariffs-list .tariff-block .tariff-price {
    background: #96C9D3;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 7px 0;
}

.order-data-tariffs-list {
    display: flex;
    overflow-x: auto;
}

.order-data-discounts-list {
    display: flex;
    overflow-x: auto;
}

.order-data-discounts-list .billboard-discount-block {
    margin-right: 10px;
    min-width: 25%;
}

.order-data-text {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}

.order-data-title {
    display: block;
    font-family: Inter, sans-serif;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}

.order-data-data {
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    max-width: 80%;
}

.order-data-general {
    border: 1px solid black;
    border-radius: 8px;
    background: white;
    width: 60%;
    display: inline-block;
    padding: 10px 10% 10px 10px;
}

.order-data-general-data-wrapper {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 2px 0;
}

.order-data-general-data-label {
    white-space: nowrap;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.order-data-general-data-dots {
    border-bottom: 2px dotted black;
    margin: 0;
    width: 80%;
    display: inline-block;
}

.order-data-general-data {
    white-space: nowrap;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.order-data-general-text {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
}

.order-data-discounts, .order-data-tariffs, .order-data-booked-days {
    margin-top: 15px;
}

.order-data-tariffs-list .tariff-block {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 20%;
    margin: 0 15px 0 0;
    padding: 0;
    height: 145px;
}

.order-data-tariffs-list .tariff-block .tariff-price {
    background: #96C9D3;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 7px 0;
}

.order-data-calendars {
    display: flex;
    flex-direction: row;
}

.order-data-calendar {
    margin-right: 10px;
}

.order-data-deny {
    width: 40%;
    height: 40px;
    border: 1px solid black;
    border-radius: 8px;
    margin: 15px 10px;
    background: #FF4343;
    color: white;
}

.order-data-close {
    width: 40%;
    height: 40px;
    border: 1px solid black;
    border-radius: 8px;
    margin: 15px 10px;
    background: orange;
}

.order-data-send {
    background: #349911;
    color: white;
    width: 40%;
    height: 40px;
    border: 1px solid black;
    border-radius: 8px;
    margin: 15px 10px;
}

.order-data-block .manage-buttons {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.billboard-picture {
    width: 100%;
    height: 200px;
    margin: 2px 0;
    border-radius: 8px;
}

.order-data-pictures {
    box-sizing: border-box;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.order-data-block .order-price-block
{
    margin: 30px 0;
}

.download-uploaded-pictures
{
    display: inline-block;
    width: 60%;
    border: 1px solid black;
    border-radius: 8px;
    background: #F8BC43;
    height: 50px;
    font-family: Roboto, sans-serif !important;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
}